@{
    ViewBag.Title = "Spiele";
}
@model IEnumerable<Game>

<div class="jumbotron text-center">
    <h1 class="display-4">Spiele!</h1>
    <p class="lead">To be continued....</p>
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                @item.Title
                @item.Status    
            </div>
            <div class="card-body">
                @item.Genre
                @item.Platform
                @item.Progress
                @item.Notes
            </div>
            <div class="card-footer">
                @item.AuthorId | @item.UserId
            </div>

        </div>
    }
</div>