@model IEnumerable<ProductivityHub.Models.Series>

@{
    ViewData["Title"] = "Index";
}
<div>
    
<h1>Index</h1>
</div>

<p>
    <a class="btn bg-dark text-white" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonsWatched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeasons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonsWatched)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a class="btn bg-dark text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn bg-dark text-white" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn bg-dark text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
